---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Archivo wow">
  <div class="flex flex-col items-center">
    <img src="/work-work.png" alt="work-work-orc image" />
    <h2 class="text-4xl text-white">PAGINA EN CONSTRUCCION</h2>
  </div>
</Layout>
