<div class="fixed top-0 left-0 right-0 z-0">
  <div class="bg-[#00000033] flex w-full p-5">
    <ul class="flex justify-between text-white w-[70%]">
      <li>foro</li>
      <li>tienda</li>
      <li>armamento</li>
      <li>donaciones</li>
    </ul>
    <div class="flex flex-col md:flex-row justify-center gap-2 w-[30%]">
      <a
        target="_blank"
        href="https://skynetmundowarcraft.com/login"
        class="text-center"
      >
        <button class="button-link px-4">
          <p>Iniciar Sesion</p>
        </button>
      </a>
      <a
        target="_blank"
        href="https://skynetmundowarcraft.com/register"
        class="text-center"
      >
        <button class="button-link px-4">
          <p>registar</p>
        </button>
      </a>
    </div>
  </div>
</div>
