<div class="w-[100%]">
  <div class="flex justify-center flex-wrap bg-[#151a25] mx-[150px] text-white">
    <div class="p-5 text-center w-[20%]">
      <h2 class="text-yellow-500">REGISTRA</h2>
      <h2>TU CUENTA DE JUEGO</h2>
      <p>¡Para comenzar el juego, debes registrar una cuenta de juego!</p>
      <a target="_blank" href="https://skynetmundowarcraft.com/register"
        ><button class="button-link px-4 w-full">
          <div class="desc">
            <p>Registra tu cuenta</p>
          </div>
        </button>
      </a>
    </div>
    <div class="p-5 text-center w-[20%] h-full flex flex-col">
      <h2 class="text-yellow-500">DESCARGA</h2>
      <h2>EL JUEGO</h2>
      <p>¡unete junto a tus amigos a este mundo de criaturas y recompensas!</p>
      <a
        target="_blank"
        href="https://www.dropbox.com/scl/fo/o7sxq64a2lmdc3fmbpr1x/h?rlkey=pgykvkmt63e0t2oh9mt6ponvv&dl=0"
        ><button class="button-link px-4 w-full">
          <div class="desc">
            <strong>DESCARGAR</strong>
          </div>
        </button>
      </a>
    </div>
    <div class="p-5 text-center w-[20%]">
      <h2 class="text-yellow-500">SET</h2>
      <h2>REALMLIST</h2>
      <p class="text-[8px]">
        ¡Para comenzar el juego, debes registrar una cuenta de juego!
      </p>
      <p class="text-[8px]">
        ¿Ya tienes el cliente del juego? Para Woltk: Cofigura Tu Archivo
        Realmlist Ubicado En(\Data\esES\realmlist.wtf) Con:
      </p>
      <strong> "Set Realmlist logon.nolstagic.com"</strong>
    </div>
    <div class="p-5 w-[40%] h-full text-center">
      <lite-youtube videoid="JKgOtKKNCsM"></lite-youtube>
      Evento Halloween
    </div>
  </div>
</div>

<script>
  import "@justinribeiro/lite-youtube";
</script>
