---

---

<div class="w-[100%]">
  <div class="flex bg-[#151a25] mx-[200px] text-white">
    <div class="p-5 text-center w-[25%]">
      <h2 class="text-yellow-500">REGISTRA</h2>
      <h2>TU CUENTA DE JUEGO</h2>
      <p>¡Para comenzar el juego, debes registrar una cuenta de juego!</p>
      <a target="_blank" href="http://nolstagic.com/en/login"
        ><button class="button-link px-4 w-full">
          <div class="desc">
            <p>Registra tu cuenta</p>
          </div>
        </button>
      </a>
    </div>
    <div class="p-5 text-center w-[25%]">
      <h2 class="text-yellow-500">DESCARGA</h2>
      <h2>EL JUEGO</h2>
      <p>¡Para comenzar el juego, debes registrar una cuenta de juego!</p>
      <a target="_blank" href="http://nolstagic.com/en/login"
        ><button class="button-link px-4 w-full">
          <div class="desc">
            <p>Registra tu cuenta</p>
          </div>
        </button>
      </a>
    </div>
    <div class="p-5 text-center w-[25%]">
      <h2 class="text-yellow-500">SET</h2>
      <h2>REALMLIST</h2>
      <p class="text-[8px]">
        ¡Para comenzar el juego, debes registrar una cuenta de juego!
      </p>
      <p class="text-[8px]">
        ¿Ya tienes el cliente del juego? Para Woltk: Cofigura Tu Archivo
        Realmlist Ubicado En(\Data\esES\realmlist.wtf) Con:
      </p>
      <strong> "Set Realmlist logon.nolstagic.com"</strong>
    </div>
    <div class="p-5 w-[30%] h-full text-center">
      <lite-youtube videoid="JKgOtKKNCsM"></lite-youtube>
      Evento Halloween
    </div>
  </div>
</div>

<script>
  import "@justinribeiro/lite-youtube";
</script>
