<div class="bg-[#151a25] md:mx-[150px] flex flex-col gap-5 items-center py-5">
  <div class="discord">
    <h3 class="text-2xl text-white">unete a nuetro discord</h3>
    <a
      class="pointer-pointer"
      href="https://discord.com/invite/kaVxGnNk"
      target="_blank"
    >
      <img
        src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/6257d23c5fb25be7e0b6e220_Open%20Source%20Projects%20_%20Discord-7.svg"
        class="w-[200px]"
      />
    </a>
  </div>
  <div class="whatssap">
    <h3 class="text-2xl text-white">unete a nuetro whatssap</h3>
    <a
      class="pointer-pointer"
      href="https://chat.whatsapp.com/CrBsngvuW3w3sQeJH3FQij"
      target="_blank"
    >
      <img
        src="https://static.whatsapp.net/rsrc.php/v3/y7/r/DSxOAUB0raA.png"
        class="w-[200px]"
      />
    </a>
  </div>
</div>
