<div class="bg-[#151a25] pt-5 my-6 mx-[200px] text-white text-center">
  <h2 class="text-yellow-500 text-3xl">TRAILER OFICIAL</h2>

  Vive La Aventura Estreno 1 de Febrero 2023

  <h2 class="text-yellow-500 text-2xl">No Te Lo Pierdas</h2>

  <lite-youtube class="w-[100%]" videoid="bXMsx1hnvo8"></lite-youtube>
</div>
<script>
  import "@justinribeiro/lite-youtube";
</script>
