---

---

<div class="w-[100%] h-full">
  <div
    class="flex flex-row lg:flex-col justify-center flex-wrap my-[100px] bg-[#151a25] md:mx-[150px] text-white"
  >
    <div class="p-5 w-full text-center">
      <h2 class="text-4xl text-yellow-500">Mira EL Trailer Del Parche 3.2</h2>
      <h2>TRAILLER OFICIAL</h2>
      <br />
      <h2 class="text-4xl text-yellow-500">Vive La Aventura</h2>
      <h2>Estreno 9 de Diciembre 2023</h2>
      <p class="text-yellow-500">no te lo pierdas</p>
    </div>

    <div class="p-5 w-full h-full text-center">
      <lite-youtube class="z-10" videoid="Id-KspQtJos"></lite-youtube>
      trailler
    </div>
  </div>
</div>

<script>
  import "@justinribeiro/lite-youtube";
</script>
