---

---

<div class="w-[100%]">
  <div
    class="flex justify-center flex-wrap my-[100px] bg-[#151a25] mx-[150px] text-white"
  >
    <div class="p-5 text-center w-[60%]">
      <h2 class="text-4xl text-yellow-500">Mira EL Trailer Del Parche 3.2</h2>
      <h2>TRAILLER OFICIAL</h2>
      <br />
      <h2 class="text-4xl text-yellow-500">Vive La Aventura</h2>
      <h2>Estreno 9 de Diciembre 2022</h2>
      <p class="text-yellow-500">no te lo pierdas</p>
    </div>

    <div class="p-5 w-[40%] h-full text-center">
      <lite-youtube videoid="fscDNNO3hEw"></lite-youtube>
      trailler
    </div>
  </div>
</div>

<script>
  import "@justinribeiro/lite-youtube";
</script>
