---
import "@fontsource/kay-pho-du";
import Background from "../components/Background.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Background />
    <ViewTransitions />
  </body>
</html>
<style is:global>
  * {
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
  }
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Kay Pho Du", sans-serif;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-size: 224px;
    margin: 0;
    padding: 0;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .button-link {
    color: white;
    width: 100%;
    background: url(/btn-all.png);
    background-size: cover;
    transition: all 0.3s ease-in;
  }
  .button-link:hover {
    transform: scale(1.2);
    filter: contrast(2);
  }
  .text__glowing {
    transition: text-shadow 0.3s ease;
  }
  .text__glowing:hover {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff,
      0 0 80px #fff,
      0 0 120px #fff;
  }
  #header {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }
  .cp-v {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
  }
  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }
</style>
